!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}
    %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/screen.css"}
  %body
    .sidebar
      %h2 Recent Article
      %i.icon-chat
      %ol
        - blog.articles[0...10].each do |article|
          %li
            = link_to article.title, article
            %span= article.date.strftime('%b %e')
      %h2 Tagsz
      %ol
        - blog.tags.each do |tag, articles|
          %li
            = link_to tag, tag_path(tag)
            (#{articles.size})
      %h2 By Year
      %ol
        - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
          %li
            = link_to year, blog_year_path(year)
            (#{articles.size})

    .main{role: "main"}
      = yield
    %aside
